main {
    display: flex;
}
/* aside */
aside {
    background: black;
    width: 225px;
    height: 800px;
    color: slategray;
    position: relative;
}
.top_list {
    padding-top: 10px;
    padding-left: 15px;
}
li {
    display: flex;
    margin-top: 15px;
}

li h4 {
    margin-left: 10px;
}
path {
    margin-left: 5px;
    fill: slategrey;
}

.bottom_list {
    padding-left: 15px;
    position: absolute;
    bottom: 10px;
}

.li_indent {
    padding-left: 30px;
}

/* section */
.main_content_wrapper {
    background-color: lightgrey; 
    width: 750px;
    height: 800px;
    position: relative;
}
.bottom_right_corner {
    position: absolute;
    right: 10px;
    bottom: 10px; 
}


.top_header {
    display: flex;
    background-color: white;
    color: slategray;
    height: 50px;
    width: 750px;
    position: relative;
}

nav {
    padding-top: 15px;
    padding-left: 15px;
}
.nav_smaller_padding {
    padding-top: 15px;
    padding-left: 5.5px;
}   

.svg_main_header {
    margin-top: 13px;
    position: absolute;
    right: 15px;
}
.svg_middle_header_right {
    position: absolute;
    right: 15px;
}
.svg_2 {
    right: 45px;
}
.svg_3 {
    right: 35px;
}
.svg_4 {
    right: 55px;
}
.product_wrapper {
    background-color: lightgrey;
    width: 750px;
    height: 650px;
    display: flex;
    padding-left: 35px;
    padding-right: 35px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.box {
    background-color: slategrey;
    height: 155px;
    width: 115px;
    
}